environment:

  matrix:
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38-x64"

install:
  - "%PYTHON%\\python.exe -m pip install git+https://github.com/Python-Markdown/markdown.git"
  - "%PYTHON%\\python.exe -m pip install PyQt5 docutils Markups"

build: off

test_script:
  - "%PYTHON%\\python.exe setup.py test"
