include LICENSE_GPL
include README.md
include changelog.md
recursive-include tests *.py
recursive-include data *.desktop
recursive-include locale retext_*.ts retext_*.qm
recursive-include icons *.png *.svg
